{% load thumbnail %}
<div class="col-md-3">
    <div class="panel">

        <ul class="list-group list-user-road">
            <li class="list-group-item"><a href="{% url 'user_page' %}">پنل کاربری</a></li>
            <li class="list-group-item" id="ps"><a id="profile_setting_link" href="#">تنظیمات پروفایل</a></li>
            <li class="list-group-item" id="rp"><a id="reset_password_link" href="#">تغییر رمز عبور</a></li>
            <li class="list-group-item" id="od"><a id="orders-detail" href="#">لیست خرید های انجام شده</a></li>
            <li class="list-group-item" id="fp"><a id="favorite-product" href="#">لیست علاقه مندی ها</a></li>
        </ul>
    </div>
</div>
